<!DOCTYPE html>
<html>
<head>
    <style>
        table
        {
            width: auto;
            font: 17px Calibri;
        }
        table, th, td
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        img
        {
            width: 50%;
        }
    </style>
</head>
<body>
<div>
    <table id="tab">
        <tr>
            <th>Bird Name</th>
            <th>Scientific Name</th>
        </tr>
        <tr>
            <td>Bald Eagle</td>
            <td>Haliaeetus leucocephalus</td>
        </tr>
        <tr>
            <td>Morning Dove</td>
            <td>Zenaida macroura</td>
        </tr>
    </table>
</div>

</body>
</html>